# <center> HW Assignment 2</center>
<center> Data Curation </center>
<center> Lauren Heintz </center>
<center> DATA 512, Fall 2019 </center>
<center> Due 10/17/19 </center>

## 0. The Goal
The goal of this analysis is to observe how the coverage of politicians on Wikipedia and the quality of articles about politicians varies between countries. The analysis will focus on tables that show:

__The countries with the greatest and least coverage of politicians on Wikipedia compared to their population.  
The countries with the highest and lowest proportion of high quality articles about politicians.  
A ranking of geographic regions by articles-per-person and proportion of high quality articles.__

## I. Data Acquisition
Two types of data were used for this analysis. The Wikipedia politicians by country dataset and the world population data set.    
[Politicians by country data set found here](https://figshare.com/articles/Untitled_Item/5513449).   
[World population dataset found here](https://www.prb.org/international/indicator/population/table/).   

CSVs of both were saved locally and then loaded in the steps below.

In [6]:
import pandas as pd
import numpy as np
%cd ~/Docs/MSDS/Fa2019/Week2

/Users/laurenheintz/Docs/MSDS/Fa2019/Week2

In [11]:
polData = pd.read_csv('page_data.csv', sep=',', header=0) # polData is politican by country data
popData = pd.read_csv('WPDS_2018_data.csv', sep=',', header=0) # popData is population by country data
polData.head(5)

                                 page   country     rev_id
0  Template:ZambiaProvincialMinisters    Zambia  235107991
1                      Bir I of Kanem      Chad  355319463
2   Template:Zimbabwe-politician-stub  Zimbabwe  391862046
3     Template:Uganda-politician-stub    Uganda  391862070
4    Template:Namibia-politician-stub   Namibia  391862409

In [12]:
popData.head(5)

  Geography Population mid-2018 (millions)
0    AFRICA                          1,284
1   Algeria                           42.7
2     Egypt                             97
3     Libya                            6.5
4   Morocco                           35.2

## II. Data Processing
The following section outlines the data processing that was done to prepare for this analysis.  

### Politician Pages By Country
First, we will check to see if there are any missing values. If there are, we will replace them with Nan.  
This data set contains rows which start with the word "template" which are not actually pages, and must be removed from the dataset.

In [33]:
# Look for missing or null & fill with zero
if (polData.isnull().values.any()):
    polData = polData.fillna(0)

# Filter out data containing template
polData = polData[~polData.page.str.contains("Template")]
polData = polData.sort_values(by=['country'])
polData = polData.reset_index(drop=True)
polData.head(10)

               page   country     rev_id
0        Raul Eshba  Abkhazia  789039267
1      Zaur Avidzba  Abkhazia  694519009
2     Zakan Jugelia  Abkhazia  786203824
3       Zurab Achba  Abkhazia  721094337
4    Sumbat Saakian  Abkhazia  755193428
5       Efrem Eshba  Abkhazia  798644673
6      Yuri Voronov  Abkhazia  803018106
7     Samson Chanba  Abkhazia  789818730
8  Gennadi Berulava  Abkhazia  805063877
9     Nestor Lakoba  Abkhazia  805967589

### Population By Country
First, we will check to see if there are any missing values. If there are, we will replace them with Nan.  
This data set contains entries in the country column which are not countries, but regions. These are in all caps. These will not have match data in the pages data set. So for now, we will filter out this data and save it offline to a csv so we can analyze it later.

In [39]:
# Look for missing or null & fill with zero
if (popData.isnull().values.any()):
    popData = popData.fillna(0)

# Locate rows with ALL CAPS, save this regional roll up data elsewhere
popData[popData.Geography.str.isupper()].to_csv('GeographyRollUp.csv', index=False)

# Filter out the non-country data (all caps)
popData = popData[~popData.Geography.str.isupper()]
popData.head(5)

  Geography Population mid-2018 (millions)
1   Algeria                           42.7
2     Egypt                             97
3     Libya                            6.5
4   Morocco                           35.2
5     Sudan                           41.7

In [41]:
# Rename Geography to country, sort by country, re index
popData = popData.rename(columns={'Geography': 'country'})

In [43]:
popData = popData.sort_values(by=['country'])
popData = popData.reset_index(drop=True)
popData.head(10)

               country Population mid-2018 (millions)
0          Afghanistan                           36.5
1              Albania                            2.9
2              Algeria                           42.7
3              Andorra                           0.08
4               Angola                           30.4
5  Antigua and Barbuda                            0.1
6            Argentina                           44.5
7              Armenia                              3
8            Australia                           24.1
9              Austria                            8.8

### Join Pages and Population Data
The data on politician pages and population must now be joined. The data set will not match up exactly. Countries which are missing either Pages or Population data will be excluded in our analysis dataset, but saved to `wp_wpds_countries-no_match.csv`.

The complete data set with no missing values will be saved as `wp_wpds_politicians_by_country.csv`.

In [44]:
# Create new vars for merge
popData_merge = popData
polData_merge = polData

# Set country to be the index for both data sets
popData_merge = popData_merge.set_index('country')
polData_merge = polData_merge.set_index('country')

In [47]:
popData_merge.head(5)

            Population mid-2018 (millions)
country
Afghanistan                           36.5
Albania                                2.9
Algeria                               42.7
Andorra                               0.08
Angola                                30.4

In [48]:
polData_merge.head(5)

                    page     rev_id
country
Abkhazia      Raul Eshba  789039267
Abkhazia    Zaur Avidzba  694519009
Abkhazia   Zakan Jugelia  786203824
Abkhazia     Zurab Achba  721094337
Abkhazia  Sumbat Saakian  755193428

In [60]:
allData = pd.concat([polData_merge, popData_merge], axis=1)
#allData.to_csv('test.csv')
allData

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

ValueError: Shape of passed values is (3, 46722), indices imply (3, 240)

## III. Data Analysis
1. Top 10 countries by coverage: 10 highest-ranked countries in terms of number of politician articles as a proportion of country population  
2. Bottom 10 countries by coverage: 10 lowest-ranked countries in terms of number of politician articles as a proportion of country population
3. Top 10 countries by relative quality: 10 highest-ranked countries in terms of the relative proportion of politician articles that are of GA and FA-quality
4. Bottom 10 countries by relative quality: 10 lowest-ranked countries in terms of the relative proportion of politician articles that are of GA and FA-quality
5. Geographic regions by coverage: Ranking of geographic regions (in descending order) in terms of the total count of politician articles from countries in each region as a proportion of total regional population
6. Geographic regions by coverage: Ranking of geographic regions (in descending order) in terms of the relative proportion of politician articles from countries in each region that are of GA and FA-quality

## VI. Conclusion